---
layout: home
---
<div class="play">
  <div class="section u-margin-Bl">
    <h2>{{ site.vision }}</h2>
    <div class="situation">
      <h3>Why are we here?</h3>
      <ul>
        {% for play in site.plays %}
          {% if play.situation == 'Why are we here?' %}
            <li>
              <a href="{{ play.url }}">{{ play.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="section u-margin-Bl">
    <h2>{{ site.strategy }}</h2>
    <div class="situation u-margin-Bm">
      <h3>What should we be building?</h3>
      <ul>
        {% for play in site.plays %}
          {% if play.situation == 'What should we be building?' %}
            <li>
              <a href="{{ play.url }}">{{ play.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>

    <div class="situation">
      <h3>What should we focus on next?</h3>
      <ul>
        {% for play in site.plays %}
          {% if play.situation == 'What should we focus on next?' %}
            <li>
              <a href="{{ play.url }}">{{ play.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="section u-margin-Bl">
    <h2>{{ site.design }}</h2>
    <div class="situation">
      <ul>
        {% for play in site.plays %}
          {% if play.section == site.design %}
            <li>
              <a href="{{ play.url }}">{{ play.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="section u-margin-Bl">
    <h2>{{ site.ops }}</h2>
    <div class="situation">
      <ul>
        {% for play in site.plays %}
          {% if play.section == site.ops %}
            <li>
              <a href="{{ play.url }}">{{ play.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

