---
layout: home
---

<h1 class="page-heading">Posts</h1>

<div class="section">
  <h2>Company vision</h2>
  <div class="situation">
    <ul>
      {% for play in site.plays %}
        {% if play.section == 'Company vision' %}
          <li>
            <span class="play-meta">{{ play.title }}</span>
            <h2>
              <a class="play-link" href="{{ play.url }}">{{ play.title }}</a>
            </h2>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>

<div class="section">
  <h2>Product strategy</h2>
  <div class="situation">
    <ul>
      {% for play in site.plays %}
        {% if play.section == 'Product strategy' %}
          <li>
            <span class="play-meta">{{ play.title }}</span>
            <h2>
              <a class="play-link" href="{{ play.url }}">{{ play.title }}</a>
            </h2>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>

