---
layout: home
---
<div class="play">
  <div class="section">
    <h2 class="section__title">{{ site.vision }}</h2>
    <div class="situation">
      <h3>Why are we here?</h3>
      <ul class="plays">
        {% for play in site.plays %}
          {% if play.situation == 'Why are we here?' %}
            <li>
              <a href="{{ play.url }}">{{ play.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
        <li class="text-meta">Workshops</li>
        <li class="text-meta">The butterfly</li>
      </ul>
    </div>
  </div>

  <div class="section">
    <h2 class="section__title">{{ site.strategy }}</h2>
    <div class="situation u-margin-Bm">
      <h3>What should we be building?</h3>
      <ul class="plays">
        {% for play in site.plays %}
          {% if play.situation == 'What should we be building?' %}
            <li>
              <a href="{{ play.url }}">{{ play.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
        <li class="text-meta">Experience mapping</li>
        <li class="text-meta">Research sprint</li>
        <li class="text-meta">Opportunity areas</li>
        <li class="text-meta">Impact / effort matrix</li>
      </ul>
    </div>

    <div class="situation u-margin-Bm">
      <h3>What should we focus on next?</h3>
      <ul class="plays">
        {% for play in site.plays %}
          {% if play.situation == 'What should we focus on next?' %}
            <li>
              <a href="{{ play.url }}">{{ play.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
        <li class="text-meta">Prioritised five</li>
      </ul>
    </div>

    <div class="situation">
      <h3>What should we be in five years?</h3>
      <ul class="plays">
        {% for play in site.plays %}
          {% if play.situation == 'Where should we be in five years?' %}
            <li>
              <a href="{{ play.url }}">{{ play.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
        <li class="text-meta">North star</li>
      </ul>
    </div>
  </div>

  <div class="section">
    <h2 class="section__title">{{ site.design }}</h2>
    <div class="situation u-margin-Bm">
      <h3>How do we know if we're successful?</h3>
      <ul class="plays">
        {% for play in site.plays %}
          {% if play.situation == 'How do we know if weU+0027re successful?' %}
            <li>
              <a href="{{ play.url }}">{{ play.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
        <li class="text-meta">Objective and key results</li>
      </ul>
    </div>

    <div class="situation u-margin-Bm">
      <h3>How do we get the scope right?</h3>
      <ul class="plays">
        {% for play in site.plays %}
          {% if play.situation == 'How do we get the scope right?' %}
            <li>
              <a href="{{ play.url }}">{{ play.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
        <li class="text-meta">Impact / effort matrix</li>
      </ul>
    </div>

    <div class="situation u-margin-Bm">
      <h3>Where should I start with this design?</h3>
      <ul class="plays">
        {% for play in site.plays %}
          {% if play.situation == 'Where should I start with this design?' %}
            <li>
              <a href="{{ play.url }}">{{ play.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
        <li class="text-meta">Group sketching</li>
      </ul>
    </div>

    <div class="situation u-margin-Bm">
      <h3>Is this idea any good?</h3>
      <ul class="plays">
        {% for play in site.plays %}
          {% if play.situation == 'Is this idea any good?' %}
            <li>
              <a href="{{ play.url }}">{{ play.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
        <li class="text-meta">A / B testing</li>
        <li class="text-meta">Clickable prototyping</li>
        <li class="text-meta">In-person user testing</li>
      </ul>
    </div>

    <div class="situation u-margin-Bm">
      <h3>Is this design usable?</h3>
      <ul class="plays">
        {% for play in site.plays %}
          {% if play.situation == 'Is this design usable?' %}
            <li>
              <a href="{{ play.url }}">{{ play.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>

    <div class="situation">
      <h3>Is this design feasible?</h3>
      <ul class="plays">
        {% for play in site.plays %}
          {% if play.situation == 'Is this design feasible?' %}
            <li>
              <a href="{{ play.url }}">{{ play.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
        <li class="text-meta">Designer-developer pair</li>
      </ul>
    </div>
  </div>

  <div class="section">
    <h2 class="section__title">{{ site.ops }}</h2>
    <div class="situation u-margin-Bm">
      <h3>How do we share context?</h3>
      <ul class="plays">
        {% for play in site.plays %}
          {% if play.situation == 'How do we share context?' %}
            <li>
              <a href="{{ play.url }}">{{ play.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>

    <div class="situation">
      <h3>How do we improve design quality?</h3>
      <ul class="plays">
        {% for play in site.plays %}
          {% if play.situation == 'How do we improve design quality?' %}
            <li>
              <a href="{{ play.url }}">{{ play.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
        <li class="text-meta">Sketch component library</li>
      </ul>
    </div>
  </div>
</div>

